**/.gradle
**/.idea
**/.classpath
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.jfm
**/bin
**/build
**/Dockerfile*
**/.dockerignore
**/node_modules
**/npm-debug.log
**/obj
LICENSE
README.md
